.navbar-right {
	padding-right: 20px;
}

#login {
	margin-top: 30px;
	text-align: center;
	position: center;
  padding: 10px 20px 10px 20px;
  margin-bottom: 60px;
}

#signup {
	margin-top: 30px;
	text-align: center;
	position: center;
  padding: 10px 20px 10px 20px;
  margin-bottom: 60px;
}

#search {
	margin-top: 20px;
}

#results {
	text-align: center;
	position: center;
  padding: 10px 20px 20px 20px;
  margin-bottom: 60px;
}

#show {
	margin-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 60px;
}

#edit {
	margin-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 60px;
}

.message {
	margin-top: 50px;
}